<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BibliotekaBd.Properties.Settings.BibliotekaConnectionString"
            connectionString="Data Source=PARADORU\SQLEXPRESS;Initial Catalog=Biblioteka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>